
{% load static %} <!-- css ve js dosyalarını tanıtmak için kullanılır. -->



<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Attention-Sky Soldier (v1)</title>
  </head>
  <body>
    <h1>Attention-Sky Soldier (v1)</h1>
    <br>
    <br>
    <br>
    
    <script src=" {% static 'js/bootstrap.bundle.min.js' %} " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <input type="submit", value="Gönder"/>
    </form>
    

      <br>
      <br>
      <br>

      
<p>
  ----------------------------------------
</p>

{% for yazi in yazilar %}

<div class="card" style="width: 600">
  <div class="card-body">
    <h5 class="card-title"> {{ yazi.baslik }} </h5>
    <h6><p class="card-text"> {{ yazi.icerik|safe|truncatechars_html:700 }}  </p></h6>
    <p class="card-text"> {{ yazi.ozet|safe }}  </p>
    
  </div>
</div>

{% empty %}
<p>

  Hiç yazı bulunamadı.
</p>





{% endfor %}

   
  </body>
</html>

